<div class="row">
  <div class="col">
    <h3 *ngIf="!reqKey">Vehicle Service Request Form</h3>
    <h3 *ngIf="reqKey">Vehicle View Request </h3>
  </div>
</div>
<form  (ngSubmit)="submitRequest(f)" #f="ngForm">
  <div class="form-group row">
    <label class="col-4">First name:</label>
    <div class="col-8">
      <input type="text" class="form-control" [(ngModel)]="requestObject.firstName" name="firstName"
        [ngClass]="{'form-control': editable, 'form-control-plaintext': !editable}" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Last name:</label>
    <div class="col-8">
      <input type="text" class="form-control"  [(ngModel)]="requestObject.lastName" name="lastName"
        [ngClass]="{'form-control': editable, 'form-control-plaintext': !editable}">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Vehicle registration number:</label>
    <div class="col-8">
      <input type="text" class="form-control"  [(ngModel)]="requestObject.vehicleRegNumber" name="vehicleRegNumber"
        [ngClass]="{'form-control': editable, 'form-control-plaintext': !editable}" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Mobile number:</label>
    <div class="col-8">
      <input type="text" class="form-control"  [(ngModel)]="requestObject.mobileNumber" name="mobileNumber"
        [ngClass]="{'form-control': editable, 'form-control-plaintext': !editable}" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Address:</label>
    <div class="col-8">
      <input type="text" class="form-control"  [(ngModel)]="requestObject.address" name="address"
        [ngClass]="{'form-control': editable, 'form-control-plaintext': !editable}" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-4">Pickup date:</label>
    <div class="col-8">
      <input type="text" class="form-control"  [(ngModel)]="requestObject.pickupDate" name="pickupDate"
        [ngClass]="{'form-control': editable, 'form-control-plaintext': !editable}" required>
    </div>
  </div>
  <div class="form-group row">
      <label class="col-4">Return date:</label>
      <div class="col-8">
        <input type="text" class="form-control"  [(ngModel)]="requestObject.returnDate" name="returnDate"
          [ngClass]="{'form-control': editable, 'form-control-plaintext': !editable}" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary float-right" *ngIf="editable" [disabled]="f.invalid"> Submit request</button>
    <button routerLink="/" class="btn btn-primary float-right" *ngIf="!editable"> Back to home</button>
</form>
